.project__cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 29vh;
}

.project__cover__image {
    width: 55.416667vw;
    object-fit: cover;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 8.5vw;
    margin-bottom: 03.888889vw;
}

.project__cover__image--vh {
    height: 44.238281vh;
}

.project__cover__image--vw {
    height: 31.458333vw;
}

.project__cover__content {
    color: #333;
    position: absolute;
    transform: translateY(-23%);
    left: 18vw;
    top: 30vh;
    z-index: 20000000000000 !important;
    cursor: pointer;
    /* top: 21vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
