.case {
	font-family: $sans-serif;
	margin: 0 auto;
	max-width: 48rem;
	line-height: 1.45;
	padding: .25rem;

	pre {
		padding: .5rem;
		line-height: 1.25;
		overflow-x: scroll;
	}

	.modest-no-decoration {
		text-decoration: none;
	}

	html {
		font-size: 12px;
	}

	@media screen and (min-width: 32rem) and (max-width: 48rem) {
		html {
			font-size: 15px;
		}
	}

	@media screen and (min-width: 48rem) {
		html {
			font-size: 16px;
		}
	}

	body {
		line-height: 1.85;
	}

	p,
	.modest-p {
		font-size: 1rem;
		margin-bottom: 1.3rem;
	}

	h1,
	.modest-h1,
	h2,
	.modest-h2,
	h3,
	.modest-h3,
	h4,
	.modest-h4 {
		line-height: 1.42;
	}

	h1,
	.modest-h1 {
		font-size: 3.998rem;
		color: $SPBlue;
	}

	h2,
	.modest-h2 {
		font-size: 2.827rem;
	}

	h3,
	.modest-h3 {
		font-size: 1.999rem;
	}

	h4,
	.modest-h4 {
		font-size: 1.414rem;
	}

	h5,
	.modest-h5 {
		font-size: 1.121rem;
	}

	h6,
	.modest-h6 {
		font-size: .88rem;
	}

	small,
	.modest-small {
		font-size: .707em;
	}

	/* https://github.com/mrmrs/fluidity */

	img,
	canvas,
	iframe,
	video,
	svg,
	select,
	textarea {
		max-width: 100%;
	}

	html {
		font-size: 18px;
		max-width: 100%;
	}

	h1,
	h2,
	h3 {
		border-bottom: 2px solid #FAFAFA;
		margin-bottom: 1.15rem;
		padding-bottom: .5rem;
		text-align: center;
	}

	blockquote {
		border-left: 8px solid #FAFAFA;
		padding: 1rem;
	}

}
